$Primary: #0c395c;

//$turquoise: #9B1A1F;
$DefaultFontColor: #454545;
$Black: #000000;
$BlueBlack: #002B4B;
$White: #ffffff;
$WhiteF5: #f5f5f5;
$WhiteSnow: #f1f3f6;
$WhiteSmoke: #f7f9fa;
$WhiteBorder: #e4e5e7;
$Gray: #6a6c6f;
$GrayC: #cccccc;
$GrayD: #d8d8d8;
$ProcomRed: #a52423;

$wb-button-color: (
  primary: #0c395c
);